/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ajustes generales*/

body{
    background-image: linear-gradient(to bottom, #F7E8F6, #F1C6E7, #E5B0EA, #BD83CE);
    color: black;
    

}
header{
    
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.footer{
    background-color: #BD83CE;
    color: white;
    margin-top: 25rem;
    text-align: center;
    line-height: 2rem;
}

.arriba{
    font-size: large;
}

/*estilos del menu*/

.bg-menu{
    background-color: #BD83CE;
    
}

.logo{
    max-height: 2rem;
    
}

.lemonpie{
    margin-right: 14rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #F1C6E7;
}

.menu-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}


/*tienda*/

.bienvenidos{
    grid-area: bienvenidos;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE;
    
    
}

.boton-agregar{
    background-color: #BD83CE;
    font-weight: bold;
    width: 100%;
}

.textotienda{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card{
    margin: 1rem;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}


/*recetas*/

.receta{
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: 1rem;
}

.titulorecetas{
    grid-area: titulorecetas;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE;
}

.introrecetas{
    grid-area: introrecetas;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    text-align: center;
}


.video{
    width: 500px;
    align-content: center;
    margin-left: 6rem;
}

.youtube-uno{
    grid-area: youtube-uno;
}

.youtube-dos{
    grid-area: youtube-dos;
}

.youtube-tres{
    grid-area: youtube-tres;
}

.youtube-cuatro{
    grid-area: youtube-cuatro;
}

/*como comprar*/

.titulocomocomprar{
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #BD83CE;
    margin: 1rem;
}

.comocomprar{
    list-style: decimal;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item{
    margin: 15px;
    font-variant-caps: all-small-caps;
    font-size: x-large;
    
}

.text{
    font-size: larger;
    font-style: italic;
}

/*index*/

body h2{
    
    font-variant-caps: all-small-caps;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.favoritas{
    grid-area: favoritas;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE;
    line-height: 2rem;
}

.carousel-main{
    margin: 1.5rem;
}

.p-index{
    margin: 1rem;
    text-align: center;
}


/*contacto*/

.titulocontacto{
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem;
    color: #BD83CE;
}

.formulario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    
}

.tituloformulario{
    font-size: 1.75rem;
}

.form-nombre, .form-email, .form-localidad{
    font-size: 1.2rem;
}

/*mediaqueries*/

@media screen and (min-width:600px){
    header h1{
        font-size: 2.5rem;
    }

    header nav ul li{
        font-size: 1.5rem;
    }

    /*index*/

    .favoritas{
        font-size: 3rem;
    }

    .bienvenidos{
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 1.5rem;
        
    }

    /*recetas*/
    .introrecetas{
        font-size: 1rem;
        
    }
   
    /* Start: Video Responsive */
    .video-responsive {
    overflow:hidden;
    padding-bottom:400px; 
    position:relative;
    height:0;
    }
    .video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    /* End: Video Responsive */

    
}

@media screen and (min-width:900px){
    header{
        flex-direction: row;
        justify-content: space-around;
          
    }
    /*index*/  
      
   }
   .favoritas{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem ;
   }

   .p-index{
    font-size: 1.5rem;
    padding: 0.5rem;
   }
   /*carrusel*/

    .carousel-main{
    margin-top: 2rem;
    z-index: 1;
    }
   

   
   /*recetas*/

    .main-recetas{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 50% 50%;
    
    grid-template-areas: 
                        "titulorecetas titulorecetas"
                        "introrecetas introrecetas" 
                        "youtube-uno youtube-dos"
                        "youtube-tres youtube-cuatro" 
                        "footer footer"  ;
    
    }

    .titulorecetas{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    }

    .introrecetas{
    font-size: 1.5rem;
    }

    .video-responsive{
    align-items: center;
    
    
    }

    /* Start: Video Responsive */
    .video-responsive {
        overflow:hidden;
        padding-bottom:400px; 
        position:relative;
        height:0;
        }
        .video-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }
        /* End: Video Responsive */

    .youtube-uno, .youtube-dos, .youtube-tres, .youtube-cuatro{
    align-items: center;
    margin: 1rem;
    
    }

    .receta{
    text-align: center;
    font-size: 1rem;
    align-content: center;
    }

