/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ajustes generales*/

body{
    background-image: linear-gradient(to bottom, #F7E8F6, #F1C6E7, #E5B0EA, #BD83CE);
    color: black;
    

}
header{
    
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


.footer{
    background-color: #BD83CE;
    color: white;
    margin-top: 25rem;
    text-align: center;
    line-height: 2rem;
}

.arriba{
    font-size: large;
}

/*estilos del menu*/

.bg-menu{
    background-color: #BD83CE;
    
}

.logo{
    max-height: 2rem;
    
}

.lemonpie{
    margin-right: 14rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #F1C6E7;
}

.menu-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo-animado{
    margin-right: 0.5rem;
    display: inline-block;
	text-shadow: 0 0 10px #222,1px 1px  0 #450505;
	animation-name: latidos;
    animation-duration: 1s;
    animation-iteration-count: infinite;
	transform-origin: center;
}

@keyframes latidos{
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

/*tienda*/

.bienvenidos{
    grid-area: bienvenidos;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE;
    
    
}

.boton-agregar{
    background-color: #BD83CE;
    font-weight: bold;
    width: 100%;
}

.textotienda{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card{
    margin: 1rem;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}


/*recetas*/

.titulorecetas{
    grid-area: titulorecetas;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #BD83CE;
    margin: 1rem;
}

.titulo-video{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: #BD83CE;
}

.contenedor-videos{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: auto auto;
    grid-template-areas: "titulorecetas titulorecetas"
                         "video-uno video-dos"
                         "video-tres video-cuatro"       ;
    margin: 3rem;
    
}

.video-uno{
    grid-area: video-uno;
}

.video-dos{
    grid-area: video-dos;
}

.video-tres{
    grid-area: video-tres;
}

.video-cuatro{
    grid-area: video-cuatro;
}

/* Start: Video Responsive */
.video-responsive {
    overflow:hidden;
    padding-bottom:300px; 
    position:relative;
    height:0;
    margin: 1rem;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* End: Video Responsive */



/*como comprar*/

.titulocomocomprar{
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #BD83CE;
    margin: 1rem;
}

.comocomprar{
    list-style: decimal;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item{
    margin: 15px;
    font-variant-caps: all-small-caps;
    font-size: x-large;
    
}

.text{
    font-size: larger;
    font-style: italic;
}

/*index*/

body h2{
    
    font-variant-caps: all-small-caps;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.favoritas{
    grid-area: favoritas;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE;
    line-height: 2rem;
}

.carousel-main{
    margin: 1.5rem;
}

.p-index{
    margin: 1rem;
    text-align: center;
}


/*contacto*/

.titulocontacto{
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem;
    color: #BD83CE;
}

.formulario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    
}

.tituloformulario{
    font-size: 1.75rem;
}

.form-nombre, .form-email, .form-localidad{
    font-size: 1.2rem;
}

/*mediaqueries*/

@media screen and (max-width:599px){
    /*recetas*/
   .contenedor-videos{
    display: flex;
    flex-direction: column;
    align-content: center;
   }

   .youtube{
    max-height: fit-content;
   }
}


@media screen and (min-width:600px) and (max-width:1023px){
    header h1{
        font-size: 3rem;
    }

    header nav ul li{
        font-size: 1.5rem;
    }

    /*index*/

    .favoritas{
        font-size: 3rem;
    }

    .bienvenidos{
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 1.5rem;
        
    }

    /*recetas*/
    
    .contenedor-videos{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 1rem;
       }
    
    .youtube{
        max-width: 80%;
    }
}

@media screen and (min-width:1024px){
    
    /*menu*/
    header h1{
        font-size: 3rem;
    }
    header nav ul li{
        font-size: 1.5rem;
    }

    /*index*/  
      
   }
   .favoritas{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem ;
   }

   .p-index{
    font-size: 1.5rem;
    padding: 0.5rem;
   }
   /*carrusel*/

    .carousel-main{
    margin-top: 2rem;
    z-index: 1;
    }
   

   
   /*recetas*/

   

