.pagina-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.imagenes-pasos, .imagenes-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #F7E8F6, #F1C6E7, #E5B0EA, #BD83CE);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem; }
  body main h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-variant-caps: all-small-caps;
    color: #BD83CE;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem; }

footer {
  background-color: #BD83CE;
  color: white;
  margin-top: 10rem;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 2; }
  footer h3 {
    font-size: 1rem; }

.arriba {
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: center; }

.whatsapp-icono:hover {
  opacity: 0.7; }

.whatsapp-icono {
  position: fixed;
  right: 1rem;
  top: 75%;
  z-index: 3; }

.bg-menu {
  background-color: #BD83CE; }

.logo {
  max-height: 2rem; }

.lemonpie {
  margin-right: 14rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #F1C6E7; }

.menu-sticky {
  position: sticky;
  top: 0;
  z-index: 2; }

.btn-cart {
  color: #F1C6E7; }

.nav-item:hover {
  display: inline-block;
  animation-name: menuanimado;
  animation-duration: 0.75s;
  animation-iteration-count: initial;
  transform-origin: center;
  border-radius: 25px;
  background-color: #F1C6E7; }

@keyframes menuanimado {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.9); } }

.boton-agregar {
  background-color: #BD83CE;
  font-weight: bold;
  width: 100%; }

.textotienda {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem; }

.card {
  margin: 1rem; }

.card-title {
  text-align: center; }

.card-text {
  text-align: center; }

.titulorecetas {
  grid-area: titulorecetas; }

.titulo-video {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
  text-align: center;
  color: #BD83CE; }

.contenedor-videos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "titulorecetas titulorecetas" "video-uno video-dos" "video-tres video-cuatro";
  margin: 3rem; }

.video-uno {
  grid-area: video-uno; }

.video-dos {
  grid-area: video-dos; }

.video-tres {
  grid-area: video-tres; }

.video-cuatro {
  grid-area: video-cuatro; }

.video-responsive {
  overflow: hidden;
  padding-bottom: 300px;
  position: relative;
  height: 0;
  margin: 1rem; }

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

ol {
  list-style: none;
  margin: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 95%;
  height: auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url(../img/lemon-fondo.png);
  text-align: center; }
  ol li h2 {
    font-variant-caps: all-small-caps;
    font-weight: bold;
    font-size: 2rem;
    color: #BD83CE; }
  ol li p {
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem; }

.item {
  margin: 15px;
  font-variant-caps: all-small-caps;
  font-size: x-large; }

.imagenes-pasos {
  margin: 2rem; }

.imagen-pasos {
  width: 150px; }

.carousel-main {
  margin: 1.5rem; }

.p-index {
  margin: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem; }

.titulo-imagen {
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-justify: inherit; }

.parrafo-index {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.1rem; }

.imagenes-index {
  align-items: stretch;
  margin: 1rem;
  padding: 1rem; }

.unidad {
  max-width: 400px; }

.imagen-index {
  max-width: 24rem; }

.formulario {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  width: 460px;
  height: auto;
  margin: 2rem;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url(../img/lemon-fondo.png);
  padding-left: 30px;
  color: #BD83CE; }

input {
  background-color: #F7E8F6;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #BD83CE;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

select {
  background-color: #F7E8F6;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #BD83CE;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

.tituloformulario {
  font-size: 1.75rem;
  color: #b46cca; }

.donde-estamos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  color: #b46cca;
  text-align: center; }

.texto-donde-estamos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem; }

@media screen and (max-width: 599px) {
  .lemonpie {
    margin-right: 8rem; }
  .imagen-index {
    justify-content: center;
    margin-left: 2rem; }
  .parrafo-index {
    margin-bottom: 1rem; }
  .imagenes-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .contenedor-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .youtube {
    max-height: fit-content; }
  .pagina-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
  .mapa {
    max-width: 400px; }
  .imagenes-pasos {
    display: none; } }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  header h1 {
    font-size: 3rem; }
  header nav ul li {
    font-size: 1.5rem; }
  .bienvenidos {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 1.5rem; }
  .lemonpie {
    margin-right: 16rem; }
  .unidad {
    max-width: 700px; }
  .imagen-index {
    margin-left: 10rem;
    max-width: 25rem; }
  .imagenes-index {
    flex-direction: column;
    justify-items: center; }
  .contenedor-videos {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem; }
  .youtube {
    max-width: 80%; }
  .pagina-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

@media screen and (min-width: 1024px) {
  header nav ul li {
    font-size: 1.5rem; } }

.p-index {
  font-size: 1.5rem;
  padding: 0.5rem; }

.carousel-main {
  margin-top: 2rem;
  z-index: 1; }

.pagina-contacto {
  flex-direction: row;
  justify-content: space-between; }

.mapa {
  padding: 1rem;
  margin: 1rem; }
