@import "base/listas";
@import "base/variables";

/*reset*/
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*ajustes generales*/
body{
    background-image: linear-gradient(to bottom, $color-uno, $color-dos, $color-tres, $color-cuatro);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
footer{
    background-color: $color-cuatro;
    color: $color-cinco;
    margin-top: 15rem;
    text-align: center;
    line-height: 1rem;
}

.arriba{
    font-size: 1.3rem;
}

/*estilos del menu*/

.bg-menu{
    background-color: $color-cuatro;
}

.logo{
    max-height: 2rem;
}

.lemonpie{
    margin-right: 14rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: $color-dos;
}

.menu-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

.btn-cart{
    color: $color-dos;
}

.nav-item:hover{
    display: inline-block;
    animation-name: menuanimado;
    animation-duration: 0.75s;
    animation-iteration-count: initial;
    transform-origin: center;
    border-radius: 25px;
    background-color: $color-dos;
}

@keyframes menuanimado{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.9);
    }
}

/*tienda*/
.bienvenidos{
    grid-area: bienvenidos;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: $color-cuatro;
}

.boton-agregar{
    background-color: $color-cuatro;
    font-weight: bold;
    width: 100%;
}

.textotienda{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card{
    margin: 1rem;
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

/*recetas*/

.titulorecetas{
    grid-area: titulorecetas;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: $color-cuatro;
    margin: 1rem;
}

.titulo-video{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: $color-cuatro;
}

.contenedor-videos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulorecetas titulorecetas"
    "video-uno video-dos"
    "video-tres video-cuatro";
    margin: 3rem;
}

.video-uno{
    grid-area: video-uno;
}

.video-dos{
    grid-area: video-dos;
}

.video-tres{
    grid-area: video-tres;
}

.video-cuatro{
    grid-area: video-cuatro;
}

/* Start: Video Responsive */
.video-responsive {
    overflow:hidden;
    padding-bottom:300px; 
    position:relative;
    height:0;
    margin: 1rem;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* End: Video Responsive */

/*como comprar*/

.titulocomocomprar{
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: $color-cuatro;
    margin: 1rem;
}

.comocomprar{
    list-style: decimal;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item{
    margin: 15px;
    font-variant-caps: all-small-caps;
    font-size: x-large;
}

.text{
    font-size: large;
    font-style: italic;
}

/*index*/

body h2{
    font-variant-caps: all-small-caps;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-main{
    margin: 1.5rem;
}

.p-index{
    margin: 1rem;
    text-align: center;
}

.titulo-imagen{
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.parrafo-index{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.imagenes-index{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
}

.unidad{
    max-width: 400px;
}

.imagen-index{
    max-width: 23rem;
}

/*contacto*/

.titulocontacto{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 0.5rem;
    color: $color-cuatro;
}

.pagina-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    width: 460px; 
    height: auto;
    margin: 2rem;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $color-uno;
    padding-left: 30px;
}

input{
    background-color: $color-uno; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-cuatro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

select{
    background-color: $color-uno;
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-cuatro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

.tituloformulario{
    font-size: 1.75rem;
    color: #b46cca;
}

.donde-estamos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    color: #b46cca;
    text-align: center;
}

/*mediaqueries*/

@media screen and (max-width:599px){
    /*index*/
    .lemonpie{
        margin-right: 8rem;
    }

    .imagen-index{
        justify-content: center;
        margin-left: 2rem;
    }

    .parrafo-index{
        margin-bottom: 1rem;
    }

    .imagenes-index{
        flex-direction: column;
        align-items: center;
    }
    
    /*recetas*/
   .contenedor-videos{
    display: flex;
    flex-direction: column;
    align-content: center;
   }

   .youtube{
    max-height: fit-content;
   }

   /*contacto*/
   .pagina-contacto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    .mapa{
        max-width: 400px;
    }
}
@media screen and (min-width:600px) and (max-width:1023px){
    header h1{
        font-size: 3rem;
    }

    header nav ul li{
        font-size: 1.5rem;
    }

    /*index*/

    .favoritas{
        font-size: 3rem;
    }

    .bienvenidos{
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 1.5rem;
        
    }

    .lemonpie{
        margin-right: 16rem;
    }

    .unidad{
        max-width: 700px;
    }

    
    .imagen-index{
        margin-left: 10rem;
        max-width: 25rem;
    }

    .imagenes-index{
        flex-direction: column;
        justify-items: center;
    }

    /*recetas*/
    
    .contenedor-videos{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 1rem;
       }
    
    .youtube{
        max-width: 80%;
    }

    /*contacto*/
    .pagina-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:1024px){
    
    /*menu*/
    header h1{
        font-size: 3rem;
    }
    header nav ul li{
        font-size: 1.5rem;
    }

    /*index*/  
      
   }
   .favoritas{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem ;
   }

   .p-index{
    font-size: 1.5rem;
    padding: 0.5rem;
   }
   /*carrusel*/

    .carousel-main{
    margin-top: 2rem;
    z-index: 1;
    }
   
   
   /*recetas*/

   /*contacto*/
   
   .pagina-contacto{
    flex-direction: row;
    justify-content: space-between;
    }
    .mapa{
        padding: 1rem;
        margin: 1rem;
    }

