@import "base/partial";

//reset
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

//ajustes generales
body{
    background-image: linear-gradient(to bottom, $color-uno, $color-dos, $color-tres, $color-cuatro);
    @include text;
    main{
        h1{
            @include titles;
        }
    }
}

footer{
    background-color: $color-cuatro;
    color: $color-cinco;
    margin-top: 10rem;
    text-align: map-get($map: $texto, $key: t-align);
    position: sticky;
    bottom: 0;
    z-index: 2;
    h3{
        font-size: 1rem;
    }
    
}

.arriba{
    font-size: 1.2rem;
    margin-top: 3rem;
    text-align: map-get($map: $texto, $key: t-align);
}

.whatsapp-icono:hover{
    opacity: 0.7;
}

.whatsapp-icono{
    position: fixed;
    right: 1rem;
    top: 75%;
    z-index: 3;
}

//estilos del menu

.bg-menu{
    background-color: $color-cuatro
}

.logo{
    max-height: 2rem;
}

.lemonpie{
    margin-right: 14rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: $color-dos;
}

.menu-sticky{
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.btn-cart{
    color: $color-dos;
}

.nav-item:hover{
    display: inline-block;
    animation-name: menuanimado;
    animation-duration: 0.75s;
    animation-iteration-count: initial;
    transform-origin: center;
    border-radius: 25px;
    background-color: $color-dos;
}

@keyframes menuanimado{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.9);
    }
}

//tienda

.boton-agregar{
    background-color: $color-cuatro;
    font-weight: bold;
    width: 100%;
}

.textotienda{
    font-size: map-get($map: $texto, $key: f-size );
    text-align: map-get($map: $texto, $key: t-align);
    padding: 1rem;
    margin-bottom: 2rem;
}

.card{
    margin: 1rem;
}

.card-title{
    text-align: map-get($map: $texto, $key: t-align);
}

.card-text{
    text-align: map-get($map: $texto, $key: t-align);
}

//recetas

.titulorecetas{
    grid-area: titulorecetas;
    
}

.titulo-video{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant-caps: all-small-caps;
    text-align: map-get($map: $texto, $key: t-align);
    color: $color-cuatro;
}

.contenedor-videos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulorecetas titulorecetas"
    "video-uno video-dos"
    "video-tres video-cuatro";
    margin: 3rem;
}

.video-uno{
    grid-area: video-uno;
}

.video-dos{
    grid-area: video-dos;
}

.video-tres{
    grid-area: video-tres;
}

.video-cuatro{
    grid-area: video-cuatro;
}

// Start: Video Responsive 
.video-responsive {
    overflow:hidden;
    padding-bottom:300px; 
    position:relative;
    height:0;
    margin: 1rem;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
// End: Video Responsive 

//como comprar


ol{
    list-style: none;
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95%; 
    height: auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-image: url(../img/lemon-fondo.png);
    text-align: map-get($map: $texto, $key: t-align);
    li{
        h2{
            font-variant-caps: all-small-caps;
            font-weight: bold;
            font-size: 2rem;
            color: $color-cuatro;
        }
        p{
            padding: 1rem;
            @include text;
        }
    }
    }


.item{
    margin: 15px;
    font-variant-caps: all-small-caps;
    font-size: x-large;
}

.imagenes-pasos{
    @extend %flexrow;
    margin: 2rem;
}

.imagen-pasos{
    width: 150px;
}

//index

.carousel-main{
    margin: 1.5rem;
}

.p-index{
    margin: 2rem;
    @include text;
}

.titulo-imagen{
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: map-get($map: $texto, $key: t-align);
    font-weight: bold;
    font-size: 1.5rem;
    text-justify: inherit;
}

.parrafo-index{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: map-get($map: $texto, $key: t-align);
    font-size: 1.1rem;
}

.imagenes-index{
    @extend %flexrow;
    align-items: stretch;
    margin: 1rem;
    padding: 1rem;
}

.unidad{
    max-width: 300px;
}

.imagen-index{
    max-width: 35vh;
}

//contacto

.pagina-contacto{
    @extend %flexcolumn;
}

.formulario{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    width: 460px; 
    height: auto;
    margin: 0.5rem;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-image: url(../img/lemon-fondo.png);
    padding-left: 30px;
    color: $color-cuatro;
}

input{
    background-color: $color-uno; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-cuatro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    
}

select{
    background-color: $color-uno;
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color-cuatro; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

textarea, select, input{
    margin-right: 2rem;
}

.tituloformulario{
    font-size: 1.75rem;
    color: #b46cca;
}

.donde-estamos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    color: #b46cca;
    margin-top: 2rem;
    text-align: map-get($map: $texto, $key: t-align);
}

.texto-donde-estamos{
    @include text;
    margin: 1.5rem;
    
}

.lugar{
    width: 60%;
    margin-left: 1rem;
}



//mediaqueries

@media screen and (max-width:599px){
    //index
    .lemonpie{
        margin-right: 8rem;
    }

    .imagen-index{
        justify-content: center;
        width: 30vh;
    }

    .parrafo-index{
        margin-bottom: 1rem;
    }

    .imagenes-index{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    //recetas
   .contenedor-videos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
   }

   .youtube{
    max-height: fit-content;
   }

   //contacto
   .pagina-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    }

    .formulario{
        width: 45vh;
        justify-content: space-around;
    }

    input, select, textarea{
        width: 37vh;
       margin-right: 4vh; 
    }

    .donde-estamos, .texto-donde-estamos{
        width: 40vh;
    }

    .mapa{
        max-width: 40vh;
        justify-content: space-around;
    }

    //como comprar
    .imagenes-pasos{
        display: none;
    }
}
@media screen and (min-width:600px) and (max-width:1023px){
    header h1{
        font-size: 3rem;
    }

    header nav ul li{
        font-size: 1.5rem;
    }

    //index

    .bienvenidos{
        font-size: 3rem;
        text-align: center;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 1.5rem;
        
    }

    .lemonpie{
        margin-right: 16rem;
    }

    .unidad{
        max-width: 700px;
    }

    
    .imagen-index{
        width: 40vh;
    }

    .imagenes-index{
        flex-direction: column;
        justify-content: space-around;
    }

    //recetas
    
    .contenedor-videos{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 1rem;
       }
    
    .youtube{
        max-width: 80%;
    }

    //contacto
    .pagina-contacto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mapa{
        width: fit-content;
    }

    .formulario{
        width: 80vh;
    }
}
@media screen and (min-width:1024px){
    
    //menu
    
    header{
        nav{
            ul{
                li{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
    //index

   .p-index{
    font-size: 1.5rem;
    padding: 0.5rem;
   }
   //carrusel

    .carousel-main{
    margin-top: 2rem;
    z-index: 1;
    }
  

   //contacto
   
   .pagina-contacto{
    flex-direction: row;
    justify-content: space-between;
    }

    .lugar{
        width: 100vh;
    }
    .mapa{
        width: 80vh;
    }

